@font-face {
  font-family: 'Unkempt';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/2EbnL-Z2DFZue0DSeYEV9w.ttf) format('truetype');
}
@font-face {
  font-family: 'Unkempt';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/2EbiL-Z2DFZue0DScTow5zK5rw.ttf) format('truetype');
}
